.assignment-header{
  background-color: #4050B5;
}

.task-empty{
  background-color: #F44336;
}

.task-empty-text{
  font-weight: 600;
  font-family: "Gill Sans";
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.submit-text{
  background-color: #4050B5;
}
