

.cart{
  text-align: justify;
  background-color: #b6bee2;
}

.header-text{
  background-color: #4050B5;
  font-weight: 700;
}

.header-text-message{
  font-weight: 600;
  background-color: #F44336;
}

.des{
  font-size: 13px;
}

.lec{
  font-weight: 600;
}

.enroll{
  font-size: 15px;
  font-weight: 600;
}

.course-empty-text{
  font-weight: 600;
}

.course-empty{
  background-color: #F44336;
}

.course-header {
  background-color: #4050B5;
}

.no-content{
  background-color: #b6bee2;
  color: black;
  font-size: 16px;
  font-weight: 600;
}
