//.main-div{
//  background-image: url("assets/login-image/login-img.png");
//  background-size: cover;  /* Optional: Controls how the image fills the background */
//  background-repeat: no-repeat;  /* Optional: Controls image repetition */
//  background-position: center;
//}

.login-header{
  font-family: "Gill Sans";
}

.form-div{
  background-color: #F2F2F2;
}

.full-width{
  width: 100%;
}

.login-button{
  height: 50px;
  font-family: "Gill Sans";
  font-size: 18px;
}

.teacher-text{
  font-family: "Gill Sans";
}

span{
  font-family: "Gill Sans";
}

